html { 
    height: 100%;
}

body { 
    font: normal 14px sans-serif;
    height: 100%; 
    margin: 0; 
    padding: 0;
}

p {
    margin: 0;
}

div, li {
    box-sizing: border-box;
}

h2, h3, a {
    font-weight: bold;
    margin: 0;
    color: #666;
    text-decoration: none;
}

h2 {
    color: #f8c549;
    font-size: 18px;
}

h3  {
    font-size: 16px;
    height: 100%;
    margin-left: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ct-map {
    position: relative;
    margin: auto auto;
    width: 100%;
    height: 100%;
}

.map-tabs {
    display: block;
    clear: both;
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index: 1;
}

.map-tabs li {
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-collapse: collapse;
    display: block;
    float: left;
    width: 33.3%;
    height: 55px;
    background-color: #fff;
    opacity: .8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.map-tabs li .bar {
    display: block;
    width: 6px;
    height: 100%;
    float: left;
}

.map-tabs li.first .bar {
    background-color: #1B2A9E;
    box-shadow:         inset 0 0 3px #01030F;
}


.map-tabs li.second .bar {
    background-color: #c50044;
    box-shadow:         inset 0 0 3px #460119;
}

.map-tabs li.third .bar {
    background-color: #f8c549;
    box-shadow:         inset 0 0 3px #947429;
}

.map-tabs li.active {
    margin-top: -10px;
    height: 65px;
}

.map-tabs li.active .bar {
    background-color: #fff;
    box-shadow: inset 0 0 3px #979797;
}

.map-tabs li.active h3 {
    color: #fff;
}

.map-tabs li.first.active {
    background-color: #1B2A9E;
    border-left: 1px solid #1B2A9E; 
    border-top: 1px solid #1B2A9E; 
    border-right: 1px solid #1B2A9E; 
}

.map-tabs li.second.active {
    background-color: #c50044;
    border-left: 1px solid #c50044; 
    border-top: 1px solid #c50044; 
    border-right: 1px solid #c50044; 
}

.map-tabs li.third.active {
    background-color: #f8c549;
    border-left: 1px solid #f8c549;
    border-top: 1px solid #f8c549;
    border-right: 1px solid #f8c549;
}

.map-tabs li.third.active h3 {
    color: #fff;
}

.map-intro {
    height: 0%;
}

.map-content {
    position: absolute;
    clear: both;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

.map-container {
    width: 100%;
    height: 100%;
}

#map-canvas { 
    height: 100%;
}

#map-canvas img {
    z-index: 1000;
    max-width: none;
}

/*
img[src*="close.png"] {
    max-width: none;
}
*/

.map-info {
    position: absolute;
    left: 10px;
    top: 0;
    width: 380px;
}

.map-info.map-reach .title {
    background-color: #1B2A9E; 
}

.map-info.map-brands .title {
    background-color: #f8c549; 
}

.map-info.map-facilities .title {
    background-color: #c50044; 
}

.map-info .title {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #1B2A9E; 
    padding: 10px 0px 10px 15px;
    box-shadow: 10px 12px 10px -10px #666;
}

.map-info h2, .map-info h3 {
   color: #fff;
   margin: 0;
}

.map-info h3 {
   font-size: 14px;
}

.map-info-content {
    position: relative;
    z-index: 1;
    width: 365px;
    padding: 10px 15px; 
    background-color: #fff;
    box-shadow: 10px 10px 10px -10px #666;
}

.map-info-content p {
    font-size: 12px;
}