html { 
    height: 100%;
}

body { 
    font: normal 14px sans-serif;
    height: 100%; 
    margin: 0; 
    padding: 0;
}

p {
    margin: 0;
}

div, li {
    box-sizing: border-box;
}

h2, h3, a {
    font-weight: bold;
    margin: 0;
    color: #666;
    text-decoration: none;
}

h2 {
    color: #f8c549;
    font-size: 18px;
}

h3  {
    font-size: 16px;
    height: 100%;
    margin-left: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 1px;
}

.ct-map {
    position: relative;
    margin: auto auto;
    width: 680px;
    height: 550px;
}

.map-tabs {
    display: block;
    float: left;
    width: 100%;
    clear: both;
}

.map-tabs li {
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-collapse: collapse;
    display: block;
    float: left;
    width: 32.5%;
    height: 55px;
    margin-left: -1px;
}

.map-tabs li .bar {
    display: block;
    width: 6px;
    height: 100%;
    float: left;
}

.map-tabs li.first .bar {
    background-color: #1B2A9E;
    box-shadow:         inset 0 0 3px #01030F;
}


.map-tabs li.second .bar {
    background-color: #c50044;
    box-shadow:         inset 0 0 3px #460119;
}

.map-tabs li.third .bar {
    background-color: #f8c549;
    box-shadow:         inset 0 0 3px #947429;
}

.map-tabs li.active {
    margin-top: -10px;
    height: 65px;
}

.map-tabs li.active .bar {
    background-color: #fff;
    box-shadow: inset 0 0 3px #979797;
}

.map-tabs li.active h3 {
    color: #fff;
}

.map-tabs li.first.active {
    background-color: #1B2A9E;
    border-left: 1px solid #1B2A9E; 
    border-top: 1px solid #1B2A9E; 
    border-right: 1px solid #1B2A9E; 
}

.map-tabs li.second.active {
    background-color: #c50044;
    border-left: 1px solid #c50044; 
    border-top: 1px solid #c50044; 
    border-right: 1px solid #c50044; 
}

.map-tabs li.third.active {
    background-color: #f8c549;
    border-left: 1px solid #f8c549;
    border-top: 1px solid #f8c549;
    border-right: 1px solid #f8c549;
}

.map-tabs li.third.active h3 {
    color: #fff;
}

.map-intro {
    padding: 10px;
    height: 80px;
}

.map-content {
    position: absolute;
    top: 55px;
    clear: both;
    border: 1px solid #ccc;
}

.map-container {
    width: 100%;
    height: 410px;
}

#map-canvas { 
    height: 100%;
}
