body {
    overflow: hidden;
    margin:0;
    padding:0;
}

p {
    margin:0;
    padding:0;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

h1 {
    font-size: 4em;
    font-family: 'Snowburst One', cursive;
}

.hangman-game ul.guess {
    margin: 0 auto 40px auto;
    text-align: center; 
    width: 115px;
}

/* Layout
=========================================*/

div {
    box-sizing: border-box;
}

/* Game Playground 
=========================================*/

.playground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 2;
}

/* Hangman man 
=========================================*/

.hangman-game {
    margin: 5% 10% 5% auto;
    text-align: center;
    display: block;
    float: right;
    width: 60%;
}

.hangman-man {
    margin: 5% 0 0 5%;
    float: left;
    width: 20%;
    background-image: url(../images/pole.png);
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.hangman-man div {
    position: absolute;
    background-repeat: no-repeat; 
}

.head {
    display: none;
    width: 105px;
    height: 98px;
    background-image: url(../images/body-parts/head.png);
    top: 53px;
    left: 173px;
}

.arm-left {
    display: none;
    width: 200px;
    height: 98px;
    background-image: url(../images/body-parts/arm-left.png);
    top: 159px;
    left: 144px;
}

.arm-right {
    display: none;
    width: 200px;
    height: 98px;
    background-image: url(../images/body-parts/arm-right.png);
    top: 161px;
    left: 232px;
}

.leg-left {
    display: none;
    width: 200px;
    height: 98px;
    background-image: url(../images/body-parts/leg-left.png);
    top: 256px;
    left: 161px;
}

.leg-right {
    display: none;
    width: 200px;
    height: 98px;
    background-image: url(../images/body-parts/leg-right.png);
    top: 252px;
    left: 232px;
}

.body {
    display: none;
    width: 50px;
    height: 200px;
    background-image: url(../images/body-parts/body.png);
    top: 151px;
    left: 206px;
}


/* Garbage Letters 
=========================================*/
.animated-letter {
    text-align: center;
    height: 98px;
    width: 98px;
    top: -158px;
    position: relative;
    z-index: -1;
}

.panel .animated-letter span {
    color: #fff;
    font-family: Helvetica;
    display: block;
    position: absolute;
    font-size: 80px;
}

.incorrect-letters {
    color: #fff;
    position: relative;
}

.hangman {
    position: relative;
    top: -800px;
    float: left;
    width: 40%;
    height: 600px;
}

.centered {
    position: absolute;
    height: 700px;
    width: 800px;
    margin: 0 0 0 -400px;
    top: 0;
    left: 50%;
}

.dashboard {
    height: 100%;
    width: 54%;
    float: right;
}

.message {
    height: 20%;
    display: block;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}

.message .hanged {
    width: 300px;
    display: block;
/*
    -webkit-transform: rotateZ( 90deg );
    -moz-transform: rotateZ( 90deg );
    -o-transform: rotateZ( 90deg );
    transform: rotateZ( 90deg );
*/
    position: relative;
    top: -82px;
    left: 190px;
}

.hangman {
    background-image: url('../images/hangman.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hangman.dead {
    background-image: url('../images/hangman-hanged.png');
}
.hangman.alive {
    background-image: url('../images/hangman-alive.png');
}


ul.random-word {
    margin: auto auto;
    display: inline-block;
}

ul.random-word li {

	float: left;
	position: relative;
	font-size: .8em;

	-webkit-perspective: 600px;
	-moz-perspective: 600px;

}

.front p {
    height: inherit;
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    display: table-cell;
    vertical-align: middle;
}

.back p {
    font-family: helvetica;
    font-size: 90px;
    line-height: 95px;
}

/* Input Box And Go Button
=========================================*/

input {
    font-family: Helvetica;
    text-align: center;
    height: 92px;
    width: 92px;
    font-size: 80px;

    border-radius: 10px;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    background-color: #000;
}

input:focus { color: #fff;}

button {
    margin-top: 20%;
    height: 40px;
    width: 65px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
}

button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}


.panel {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.panel span {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 3em;
}

.panel div {
    border-radius: 10px;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */

.random-letter .panel .front {
    background-image: url(../images/question-box.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.panel .front {
    float: none;
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;


    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    border-color: #eee;
    background: #333;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.panel .back {
    color: #fff;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    text-shadow: 1px  1px 1px rgba(0,0,0,0.6); 

    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);

    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
