body {
    overflow: hidden;
    margin:0;
    padding:50px;
}

a {
    text-decoration: none;
}

p, ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

li {
    text-align: center;
    margin: 20px;
    border: solid 1px #bebebe;
}

h1 {
    font-size: 4em;
    font-family: 'Snowburst One', cursive;
}

li a {
    display: none;
}

.active {
   display: block; 
}

